* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 10px;
}

.area-luta {
    display: flex;
    gap: 20px;   
}

#lutador,
#monstro {
    flex: 1;
}

.barra-vida {
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.barra-vida .barra {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.area-log {
    border: 1px dotted black;
    height: 400px;
    overflow-y: scroll;
    margin: 100px;
}

.foto {
    width: 25%
}

.evento {
    border: 2px solid black;
    width: 10%;
    margin-bottom: 10px;
}